
<div class='text-right'>
  <header style='height: 30%' class='px-3 pt-2'>
    <a routerLink='/activities' >Home</a>|
    <a routerLink='/favorites'>Favorite</a>|
    <a routerLink='/admin/activities' >Log Out</a>
  </header>
</div>


<h1 class='my-5 text-center'>Charity Events</h1>

<div class='mx-3 '>
  <div class="form-inline my-3">


      <select class="custom-select bg-light my-1 mr-sm-2 text-secondary" (change)='showHint(searchByBox.value)' #searchByBox>
        <option selected>Search</option>
        <!-- <option value="date" id="date">Date</option> -->
        <option value="org" id="org">Organizer</option>
        <option value="name" id="name">Name</option>
        <option value="loc" id="loc">Location</option>
      </select>

      <input #searchTermBox type="text" class="form-control bg-light my-1 mr-sm-2" id="fieldSelect">

      <button type="submit" class="btn btn-light my-1 mr-sm-2" (click)="search(searchByBox.value, searchTermBox.value)">Search</button>

  </div>
</div>

<div class='mx-3' id='actTable' style='height: 500px; overflow-y: auto;'>
<table class='table'>
  <thead>
    <tr>
      <th style=' text-align: center;'>#</th>
      <th style=' text-align: center;' (click)="sort('org')">Organizer</th>
      <th style=' text-align: center;' (click)="sort('name')">Name</th>
      <th style=' text-align: center;' (click)="sort('loc')">Location</th>
      <th style=' text-align: center;'>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let act of activities; let i = index">
      <td class='align-middle text-center'>{{i + 1}}</td>
      <td class='align-middle text-center'>{{act.organizer}}</td>
      <td class='align-middle text-center'>{{act.name}}</td>
      <td class='align-middle text-center'>{{act.loc}}</td>
      <td class='align-middle text-center'>
      <button class = "btn btn-link"(click)="detailWindow($event)">Detail</button></td>
    </tr>

  </tbody>
</table>
</div>

<div id="modal-wrapper" class="modal" (click)="closeWindow($event)">

<div class="modal-content animate">
  <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
  <div>
      <div ><h2>Activity Details</h2></div>
      <div ></div>
      <!-- <div ><img src="calendar.png" class="img-thumbnail" alt="calendar"></div> -->
  </div>

<form  method='post' action='http://localhost:3000/new-fav-added'>
  <ul *ngFor="let d of detail">
      <li ><b>Activity Name: </b> <span><input type = "hidden" name = "name" value = {{d.name}} />{{d.name}}</span></li>
      <li >Date:
          <select name = 'dnt' id="eventSelect">
          <option selected>Activity Time</option>
          <option *ngFor="let dnt of d.date; let i = index" value= {{dnt}}>
            {{dnt}}</option>
          </select>
        </li>
      <li>District: <input type = "hidden" name = "dist" value = {{d.dist}} /><span >{{d.dist}}</span></li>
      <li>Location: <input type = "hidden" name = "loc" value = {{d.loc}} /><span >{{d.loc}}</span></li>
      <li>Organizer: <input type = "hidden" name = "org" value = {{d.organizer}} /> <span >{{d.organizer}}</span></li>
  </ul>

  <div>
    <button type='submit' class='btn btn-light' >Add to Favorite</button>
  </div>
</form>

  <div class="container" id="main">
      <br /><br />
      <h2>Comments</h2>
      <br />
      <ul id="comments" class="list-unstyled">
          <li class="media">
              <div class="media-body">
                  <h5>Lawrence</h5>
                  <p>Such a fun activity!</p>
              </div>
          </li>
      </ul>
  </div>

  <div class="container">
      <form id="commentform" action="writefile.php" method="post">
          <div class="form-group">
              <label for="usercomment">Your comment</label>
              <textarea class="form-control" id="usercomment" rows="5"></textarea>
          </div>
          <button type="button" class="btn btn-primary" onclick="processForm();writeFile()">Comment</button>
      </form>
  </div>

</div>


</div>

<router-outlet></router-outlet>
